<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="../../assets/css/main.css">

    <!-- <script src="assets/js/vendor/modernizr-2.6.2.min.js"></script> -->
</head>
<body>
<div class="mobile-carousel iphone">
	<div class="carousel-bg">
		<div class="carousel-bg-inner">
			<!-- <div class="carousel-section" style="background:blue"></div>
			<div class="carousel-section" style="background:red"></div>
			<div class="carousel-section" style="background:green"></div> -->
		</div>
	</div>
	<div class="carousel-nav">
		<!-- <div class="carousel-nav-section"></div>
		<div class="carousel-nav-section"></div>		
		<div class="carousel-nav-section"></div>		
		<div class="carousel-nav-section"></div>	-->			
	</div>
</div>
</body>

</html>